:root {
  --bs-font-sans-serif: Inter, '阿里巴巴普惠体 2.0', 'Source Han Sans SC', system-ui, -apple-system,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
  --bs-font-monospace: 'Fira Mono', 'JetBrains Mono', SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', var(--bs-font-sans-serif) !important;

  font-size: 18px;
  font-weight: 600;
}

body {
  font-family: var(--bs-font-sans-serif);
  min-width: 1024px;
}

.fs-7 {
  font-size: 0.875rem !important;
}

.nav-link .btn-outline-primary,
.dropdown .btn-outline-primary {
  background-color: #fff;
}

.nav-link .btn-outline-primary:hover,
.dropdown .btn-outline-primary:hover {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.global-toast {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 2000;
}
